/* Basic styling for whole page */

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #222;
    font-size: 1vw;
    max-width: 100vw;
    font-family: "Helvetica", Arial, sans-serif;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Styling for the container that includes all the content*/
.card{
    width: 40vw;
    background: rgb(21,21,54);
    background: linear-gradient(176deg, rgba(21,21,54,1) 0%, rgba(53,53,140,1) 30%, rgba(0,212,255,1) 100%);
    color: #fff;
    margin: 2rem auto;
    border-radius: 20px;
    padding: 4vw 3.5vw;
    text-align: center;
}

/* Styling for the search section */
.card__search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Styling for the search bar */
.card__search input{
    border: 0;
    background: #ebfffc;
    color: #555;
    padding: 1vw 0vw 1vw 1.5vw;
    height: 7vh;
    border-radius: 30px;
    flex: 1;
    margin-right: 1rem;
    font-size: 1.3rem;
} 

/* Styling for search button */
.card__button{
    border: 0;
    background: #ebfffc;
    padding: 1vw 2.5vw;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Styling for the main weather Icon */
.weather__icon{
    width: 30%;
    margin-top: 1rem;
}

/* Styling for the h1 and h2 text on the center of container */
.weather__text--mod{
    font-size: 1.5rem;
    margin: 0.5rem;

}

/* Styling for the extra details container, humidity and wind */
.weather__details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
}

.details__wind{
    margin-top: -0.3rem;
}

/* Styling for the extra details, humidity and wind */
.details__info--mod{
    display: flex;
    align-items: center;
    text-align: left;
}

.details__info--mod p{
    margin: 0.5rem;
}

/* Styling for the extra details img, humidity and wind */
.details__info--mod img{
    width: 35%;
    margin-right: 0.5rem;
}

/* Styling for the extra details text, humidity and wind */
.humidity__amount, .wind__amount{
    font-size: 1.3rem;
}

/* Responsive desing style */
@media screen and (max-width:767px) {

    html{
        font-size: 1rem;
    }

    .card{
        width: 90vw;
        margin: 3.5rem auto;
        padding: 5vw 4.5vw;
    }

    .card__search{
        justify-content: space-evenly;
    }

    .card__search input{
        height: 5.5vh;
        padding: 1vw 0vw 1vw 5vw;
        font-size: 1rem;
    } 

    .card__button{
        padding: 2vw 2.5vw;
        font-size: 1rem;
    }

    .details__wind{
        margin-top: -0.6rem;
    }

    .details__info--mod{
        flex-direction: column;
        text-align: center;
    }

    .details__info--mod img{
        width: 50%;
        margin-right: 0rem;
        margin-bottom: 0.5rem;
    }

    .details__info--mod p{
        margin: 0.2rem;
    }
}


@media screen and (min-width: 768px) {
    html * {
      font-size: 1rem;
    }
  }